@font-face {
    font-family: 'sifonn';
    src: url('./Font/sifonn-basic.otf') format('truetype'); /* ou .woff/.woff2 */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family:'sifonn';
    margin: 50px;
}

a {
    text-decoration: none;
    color: black;
    position: relative;
    transition: color 0.5s;
}

a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transition: width 1s ease;
}

a:hover::before {
    width: 100%;
}

a:hover {
    color: black;
}

.nav {
    margin: 0;
}

.nav div {
    margin-left: 50px;
}
